
html {
    height: 100%;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

body {
    padding:0;
    margin:0;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

header {
    background-color:#FF0000;
    display:inline;
    height:70px;
    width:100%;
}

footer {
    background-color:#00FF00;
    display:inline;
    height:60px;
    width:100%;
    text-align:center;
    line-height: 60px;
}
